/*Ini CSS*/

header{
    text-align: center;
}

body{
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
}

a:hover{
    color: orangered;
}

hr{
    border-color: grey;
}

.section-content{
    background-color: darkblue;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.section-content>h3{
    margin: 0;
}

.formula-img{
    text-align: center;
}

img{
    height: 100%;
}

input{
    width: 100%;
    background-color: lavender;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px;
}

fieldset{
    border-radius: 4%;
}

.line-space{
    line-height: 30px;
}

.center-button{
    display: flex;
    justify-content: center;
}

#hitung_luas{
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: 1px;
    cursor: pointer;
    }

#reset{
    background-color: firebrick;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: 1px;
    cursor: pointer;
}

#switch-keliling{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: darkgrey;
    border: 0px;
    color: blue;
    cursor: pointer;
}

#switch-luas{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: darkgray;
    border: 0px;
    color: blue;
    cursor: pointer;
}

footer{
    background-color: darkblue;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: small;
}

